/* # General */
/* Weights to be used: 300, 400, 500 */
@font-face {
    font-family: "Rubik";
    src: url(../Fonts/Rubik-VariableFont_wght.ttf) format("truetype");
}

* {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
}
html {
    font-size: 18px;
}
body {
    background-color: var(--very-dark-blue);
}

h1, h2, p, small {
    color: white;
}

/* # Constants */
/* ## Colors */
:root {
    /* ### Primary */
    --blue: #5847eb;

    --light-orange: #ff8c66;
    --soft-blue: #56c2e6;
    --light-red: #ff5c7c;
    --lime-green: #4acf81;
    --violet: #7536d3;
    --soft-orange: #f1c65b;
    /* ### Neutral */
    --very-dark-blue: #0f1424;
    --dark-blue: #1c1f4a;
    --desaturated-blue: #6f76c8;
    --pale-blue: #bdc1ff;
}

/* # Layout and Design */
@media only screen and (min-width: 375px) {
    .grid-container {
        display: grid;
        justify-content: center;
        grid-template: auto, repeat(6, 180px) / 325px;
        gap: 0 25px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    /* General item */
    .grid-item {
        position: relative;
        border-radius: 15px;
        overflow: hidden;
    }
    /* Profile */
    .grid-item .profile-info {
        background-color: var(--blue);
        border-radius: 15px;
        position: relative;
        z-index: 1;
        height: 130px;
        top: 20px;
    }
    .grid-item .profile-info img {
        position: absolute;
        width: 60px;
        border: 3px solid white;
        border-radius: 50%;
        left: 30px;
        top: 33px;
    }
    .grid-item .profile-info small {
        position: absolute;
        font-size: 0.875rem;
        font-weight: 300;
        color: var(--pale-blue);
        right: 140px;
        top: 40px;
    }
    .grid-item .profile-info h1 {
        position: absolute;
        font-size: 1.35rem;
        font-weight: 300;
        right: 38px;
        top: 63px;
    }

    .grid-item .temporal-options {
        background-color: var(--dark-blue);
        border-radius: 15px;
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 75px;
        padding-top: 20px;
    }
    .grid-item .temporal-options p {
        text-align: center;
        color: var(--pale-blue);
    }
    .grid-item .temporal-options p:hover {
        cursor: pointer;
        color: white;
    }
    /* Other */
    .grid-item .info-card {
        background-color: var(--dark-blue);
        position: relative;
        z-index: 1;
        height: 120px;
        width: 325px;
        border-radius: 15px;
        bottom: 25px;
    }
    .grid-item .info-card:hover {
        background-color: #282b52;
        cursor: pointer;
    }
    .grid-item .info-card h2 {
        position: absolute;
        font-size: 1rem;
        font-weight: 500;
        left: 30px;
        top: 30px;
    }
    .grid-item .info-card p {
        position: absolute;
        font-size: 1.8rem;
        font-weight: 300;
        bottom: 30px;
        left: 30px;
    }
    .grid-item .info-card img {
        position: absolute;
        right: 30px;
        top: 33px;
        cursor: pointer;
        
        padding: 4px;
    }
    .grid-item .info-card small {
        position: absolute;
        font-weight: 300;
        color: var(--pale-blue);
        font-size: 0.875rem;
        right: 30px;
        bottom: 38px;
    }

    .background {
        height: 60px;
    }

    #work .background {
        background-color: var(--light-orange);
    }
    #work .background img {
        position: absolute;
        left: 228px;
        bottom: 112px;
    }

    #play .background {
        background-color: var(--soft-blue);
    }
    #play .background img {
        position: absolute;
        left: 229px;
        bottom: 110px;
    }

    #study .background {
        background-color: var(--light-red);
    }
    #study .background img {
        position: absolute;
        left: 225px;
        bottom: 110px;
    }

    #exercise .background {
        background-color: var(--lime-green);
    }
    #exercise .background img {
        position: absolute;
        left: 225px;
        bottom: 126px;
    }

    #social .background {
        background-color: var(--violet);
    }
    #social .background img {
        position: absolute;
        left: 228px;
        bottom: 95px;
    }

    #self-care .background {
        background-color: var(--soft-orange);
    }
    #self-care .background img {
        position: absolute;
        left: 240px;
        bottom: 130px;
    }
}

@media only screen and (min-width: 1440px) {
    .grid-container {
        grid-template: repeat(2, 250px) / repeat(4, 250px);
        gap: 30px 30px;
        margin: 0;
        margin-top: 100px;
    }
    /* Profile */
    #profile {
        grid-row: 1 / span 2;
    }
    .grid-item .profile-info {
        position: absolute;
        height: 68%;
        width: 100%;
        top: 0;
    }
    .grid-item .profile-info img {
        width: 70px;
        left: 30px;
        top: 41px;
    }
    .grid-item .profile-info small {
        font-size: 0.875rem;
        font-weight: 300;
        right: 140px;
        top: 150px;
    }
    .grid-item .profile-info h1 {
        font-size: 2rem;
        font-weight: 300;
        line-height: 2.5rem;
        left: 30px;
        top: 173px;
    }

    .grid-item .temporal-options {
        position: relative;
        height: 45%;
        width: 100%;
        top: 270px;
    }
    .grid-item .temporal-options p {
        text-align: start;
    }
    #daily {
        position: absolute;
        bottom: 120px;
        left: 30px;
    }
    #weekly {
        position: absolute;
        bottom: 80px;
        left: 30px;
    }
    #monthly {
        position: absolute;
        bottom: 40px;
        left: 30px;
    }
    /* Other */
    .grid-item .info-card {
        position: absolute;
        height: 80%;
        width: 100%;
        bottom: 0;
    }
    .grid-item .info-card h2 {
        font-size: 1rem;
        font-weight: 500;
        left: 30px;
        top: 30px;
    }
    .grid-item .info-card p {
        font-size: 2.5rem;
        font-weight: 300;
        bottom: 70px;
        left: 30px;
    }
    .grid-item .info-card img {
        right: 30px;
        top: 33px;
    }
    .grid-item .info-card small {
        font-weight: 300;
        font-size: 0.875rem;
        left: 30px;
        bottom: 40px;
    }

    .background {
        height: 90%;
        width: 100%;
    }

    #work .background img {
        left: 155px;
        bottom: 180px;
    }

    #play .background img {
        left: 155px;
        bottom: 176px;
    }

    #study .background img {
        left: 155px;
        bottom: 180px;
    }

    #exercise .background img {
        left: 153px;
        bottom: 195px;
    }

    #social .background img {
        left: 160px;
        bottom: 162px;
    }

    #self-care .background img {
        left: 164px;
        bottom: 190px;
    }
}